.connexion-page {
    margin: 80px 60px;
    color: #4e5166;
  }
  
  .connexion-container {
    display: grid;
    grid-template-columns: 60% 40%;
  }
  
  .card {
    border: none;
    background: #ffd7d7;
    width: 90%;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;
  }
  
  .form-container {
    display: flex;
    justify-content: space-around;
  }
  
  .active-btn {
    border-bottom: 2px solid #fd2d01;
    font-weight: 500;
  }
  
  .img-container {
    display: flex;
    align-items: center;
  }
  
  img {
    width: 100%;
  }